@charset "utf-8";
*{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-family: Helvetica, Arial, sans-serif;
}
/* Background color for navbar and dropdown menus */
.navbar-custom, .navbar-custom .dropdown-menu {
    background-color: #141414;
}
/* Text color for navbar and dropdown menus */
.navbar-custom .navbar-brand, .navbar-custom .navbar-text,
.navbar-custom .navbar-nav .nav-link,
.navbar-custom .dropdown-item {
    color: #ecf0f1;
	margin: 0px 20px;
}
/* Background and text colors for current page link and links on hover and focus */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .dropdown-item:hover, 
.navbar-custom .dropdown-item:focus {
    background-color: dimgray;
    color: #fff;
}
/* Border and text colors for menu icon on small screens */
.custom-toggler.navbar-toggler {
    color: #ffffff;
}
/* Hamburger icon - use same rgb values as previous rule for stroke */
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(236,240,241, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
body {
	margin-top: 56.2px;
	background-color: white;
}
.heroimg {
	text-align: center;
	background-color: #f5f5f7;
	margin-bottom: 1rem;
}
.heroimg a {
	font-size: 20px;
}
#second {
	background-color: #433F52;
}
#second h1, #second h3 {
	color: white;
}

.testimonial {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

.new {
	color: red;
	font-size: 75%;
}
footer {
	background-color: #f5f5f7;
	text-align: center;
}


.about-box {
    position: relative;
}

.bg-image {
    background-image: url(../images/corporate-handshake.jpeg);
    background-size: cover;
    background-position: center center;

    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.6);

    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    filter: blur(10px)
}

.about-message {
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.about-message p {
    line-height: 1.3;
    position: relative;
}

@media screen and (max-width:768px){
    .testimonial {display:none}
}

@media screen and (min-width:0px){
	.heroimg {
		padding-top: 1rem;
	}
	h1 {
		padding: 0 10px;
		font-size: 40px;
	}
	h3 {
		font-size: 20px;
	}
	#first img {
		width: 60%;
	}
	#second img {
		width: 35%;
	}
	footer {
		font-size: 90%;
		padding: 10px 0px;
	}
    .about-message {
        padding-left: 30px;
        padding-right: 30px;
        text-align: left;
        width: 100%;
        padding-top: 5em;
        padding-bottom: 3em;
    }
    .about-message p {
        max-width: 25.5em;
        font-size: 21px;
    }

}

@media screen and (min-width:768px){
	.heroimg {
		padding-top: 1rem;
	}
	h1 {
		font-size: 45px;
	}
	h3 {
		font-size: 23px;
	}
	#first img {
		width:30rem;
	}
	#second img {
		width:15rem;
	}
	.testimonial img {
        width: 23rem;
    }
	footer {
		font-size: 110%;
		padding: 10px 0px;
	}
    .about-message {
        padding-top: 10%;
        padding-bottom: 10%;
        padding-left: 10px;
        width: 80%;
    }
    .about-message p {
        max-width: 25.5em;
        font-size: 24px;
    }

}

@media screen and (min-width:959px){
	.heroimg {
		padding-top: 1rem;
	}
	h1 {
		font-size: 45px;
	}
	h3 {
		font-size: 23px;
	}
	#first img {
		width:50rem;
	}
	#second img {
		width:30rem;
	}
    .testimonial img {
        width: auto;
    }
    .about-message {
        padding-left: 35px;
        text-align: left;
        width: 1015px;
    }
    .about-message p {
        max-width: 25.5em;
        font-size: 28px;
    }
}

@media screen and (min-width:1199px){
	.heroimg {
		padding-top: 2rem;
	}
	h1 {
		font-size: 50px;
	}
	#first img {
		width:50rem;
	}
	#second img {
		width:30rem;
	}

}
